[mysqld]
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0

max_allowed_packet=300M

innodb_buffer_pool_size=<%= (@memory * 0.8).floor %>M
key_buffer_size=64M
table_open_cache=512
thread_cache_size=32
innodb_log_file_size=64M
innodb_log_files_in_group = 4
innodb_log_group_home_dir = /dev/shm/
sort_buffer_size=2M
join_buffer_size=256k
transaction-isolation = READ-UNCOMMITTED
loose_performance_schema = OFF
innodb_autoinc_lock_mode = 2
max_connections=150
innodb_write_io_threads = <%= @cpu %>
innodb_read_io_threads = <%= @cpu %>
tmp_table_size = 200M
innodb_flush_log_at_trx_commit = 0

slow_query_log=ON
slow_query_log_file=mysql-slow.log
long_query_time=0.5

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
